body {
    background-color: #f3f3f3;
    font-family: 'Open Sans', Arial;
}
.main-wrapper {
    margin-top: 50px;
    border: 1px solid #a7a6a6;
    padding: 5px;
    font-size: 18px;
    background-color: #00222B;
    position: relative;
}
.actions-wrapper {
    padding: 0;
}
#screen {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 35px;
    background-color: #00222B;
}
.btn-group {
    margin-top: 5px;
    width: 100%;
}
.btn {
    border-radius: 0;
    border: 1px solid #a7a6a6;
}
.btn:not(.right) {
    margin-right: 5px;
}
.right {
    float: right !important;
}
#screen .message-block:not(:first-child) {
    margin-top: 5px;
}
#screen p {
    margin: 0;
}
#screen .error {
    background-color: #A43C11;
    padding: 10px;
    color: #fff;
}
#screen .success {
    color: #008080;
    word-wrap: break-word;
    overflow-x: hidden;
    width: 100%;
}
#input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #fff;
    width: 100%;
    min-height: 35px;
    margin-top: 10px;
    outline: none;
}
#input:after {
    position: absolute;
    content: '>';
    font-size: 28px;
    top: -3px;
    left: 3px;
    color: #778282;
}